<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YoungShop</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <a class="navbar-brand" href="#">YoungShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/List">商品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Search">搜索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Logout" id="Logout">退出</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        @RenderBody()
    </div>
    <br>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>&copy; 2014-@DateTime.Now.Year - YoungShop</p>
        <p>Powered by <a href="https://github.com/SilkTeam" target="_blank">SilkTeam</a> | Theme base <a href="https://getbootstarp.com" target="_blank">Bootstrap</a></p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Scripts/copyright.js"></script>
    <script>
        $("#Logout").click(function () {
            layer.load(2, { shade: false });
            layer.confirm('确定要退出登录？', {
                btn: ['确定', '取消']
            }, function () {
                $.post("/Home/Logout", function (res) {
                    setTimeout(function () {
                        layer.closeAll('loading');
                    }, 300);
                    if (res == "success") {
                        layer.alert("您已退出账户！");
                        setTimeout(function () {
                            window.location.href = "/Home/Index";
                        }, 1500);
                    } else {
                        layer.alert(res);
                    };
                });
            });
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>