
@model YouShop.Model.Wallet
@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_User.cshtml";
}
<h2>Wallet</h2>
@if (Session["Wallet"] != null)
{
    <div class="form-group">
        <label>余额：</label>
        <input type="text" disabled class="form-control" required id="Money" value="@Model.Money">
    </div>
    <button id="ccc" class="btn btn-primary">充值</button>
}
else
{
    <h2>当前用户钱包未开通，请开通后再使用</h2>
    <button id="GoWallet" class="btn btn-primary">快速开通</button>
}
@section scripts{
    <script>
        $("#GoWallet").click(function () {
            layer.load(2, { shade: false });
            $.post("/Home/GoWallet", function (res) {
                setTimeout(function () {
                    layer.closeAll('loading');
                }, 350);
                if (res == "success") {
                    layer.alert("修改成功");
                    setTimeout(function () {
                        window.location.href = "/Home/Wallet";
                    }, 1500);
                } else {
                    layer.alert(res);
                };
            });
        });
    </script>
}